# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.idea/

# VS Code related
.vscode/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# MacOS related
.DS_Store

# Temporary files
*.tmp
*.temp
*.log

# Other
.gradle/
.local/
.history/
